.fas {
    font-size: 16px;
    padding: 0 15px;
    &.activate{
        font-size: 22px;
    }
}
.fa{
    &.activate{
        font-size: 20px;
    }
}
.fa-home {
    color: #ff8888;
}

.fa-grip-vertical {
    color: #ffc080;
}
.fa-chart-bar {
    color: #8bff6f;
}

.fa-inbox {
    color: #5dffc7;
}

.fa-user-alt {
    color: #626dff;
}

.fa-cog {
    color: #a2a4c5;
}

.fa-question-circle {
    color: #a2a4c5;
}

.fa-comment-alt {
    color: #a2a4c5;
}
.fa-map-marker-alt {
    margin: -15px;
}

.fa-users {
    color: #b32fff;
}

.fa-bell {
    color: #7a6bff;
}
.fa-bars{
    color: #a2a4c5;
}